spring:
  application:
    name: config-payment-service

  jpa:
    hibernate:
      ddl-auto: update
  cloud:
    function:
      definition: telegramCallbackQueryConsumer;telegramMessageConsumer

    stream:
      kafka:
        binder:
          brokers: ${KAFKA_BOOTSTRAP_SERVERS}
          auto-create-topics: true
          auto-add-partitions: true
          consumer-properties:
            key.deserializer: org.apache.kafka.common.serialization.LongDeserializer
          producer-properties:
            key.serializer: org.apache.kafka.common.serialization.LongSerializer

      bindings:
        telegramCallbackQueryConsumer-in-0:
          destination: telegram-callback-query
          group: payment-service
          content-type: application/json


        telegramMessageConsumer-in-0:
          destination: telegram-message
          group: payment-service
          content-type: application/json


        confirmedPayment-out-0:
          destination: confirmed-payment
          content-type: application/json

  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:localhost}
      port: ${SPRING_DATA_REDIS_PORT:6379}
      timeout: 5000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 2
          max-wait: 5000ms
